@* login Template File *@
@(page:String,regform: Form[User])(implicit flash:play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(CustomFieldInput.f) } 

@main("Register",page,"Guest",false){   
   
    <div class="row">
		<div class="col-sm-5 col-md-5">
			@flash.get("failedCreate").map { message =>
				<div class="alert alert-dismissable alert-danger panel-custom-margin ">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<span class="glyphicon glyphicon-alert"><strong> Operation Failed!</span></strong> @message
				</div>
			}
			<div class="well panel panel-default panel-custom-margin colormeGrey" >
				<div class="panel-heading colormeGrey">
					<h3 class="panel-title">Registration Form</h3>
				</div>
			
				<div class="panel-body">
					 @helper.form(routes.Application.registerme(),'id->"accountForm") {
        	
        	 			<fieldset>
        	    			 @inputText(regform("name"), '_label -> "Name",'class -> "form-control formInline",'placeholder->"Name")
           					 @inputText(regform("email"), '_label -> "Email", 'class -> "form-control formInline",'placeholder->"Email")
					 		 @inputText(regform("password"), '_label -> "Password", 'type -> "password",'class -> "form-control formInline",'placeholder->"Password")
           					 @inputText(regform("phone"), '_label -> "Phone", 'class -> "form-control formInline",'placeholder->"Phone")
							 @inputText(regform("address"), '_label -> "Address", 'class -> "form-control formInline",'placeholder->"Address")
						   	 @inputText(regform("company"), '_label -> "Company", 'class -> "form-control formInline",'placeholder->"Company")
						</fieldset>
            		
            			<div class="panel-custom-margin" >
            				<input type="submit" value="Create WebUser" class="btn btn-success btn-margin-left"> or 
            				<a href="@routes.Application.home("Home")" class="btn btn-default">Cancel</a> 
        				</div>
        
    				}	
    
    			</div>
			</div>
		</div>
		
		<div class="col-sm-5 col-md-5 test-margin">
			<div class="well panel panel-default panel-custom-margin colormeGrey" style="display:block; margin-left:0 auto;margin-right:0 auto">
				<div class="panel-heading colormeGrey">
					<h3 class="panel-title">Twitter Widget</h3>
				</div>
				<div class="panel-body">
		
						<a class="twitter-timeline" href="https://twitter.com/Knolspeak" data-widget-id="571036056997199872" height=400>Tweets by @@Knolspeak</a>
						<script>
						!function(d,s,id)
						{
							var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
							if(!d.getElementById(id))
							{js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js,fjs);
							}
						}(document,"script","twitter-wjs");
						</script>
				</div>
			</div>
		</div>
	</div>	
}